*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style: none;
}

a.link {
  display: inline-block;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  padding-bottom: 0.4rem;
  border-bottom: 3px solid #c582c3;
  margin-bottom: 1.4rem;
  transition: all 0.3s ease-in;
}

a.link:hover {
  color: #6e6e6e;
  border-color: #4a90e2;
  transform: translateY(-2px);
}

a.link_student {
  color: #000000;
  text-decoration: none;
}

a.link_student:hover {
  color: #6e6e6e;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  color: #484848;
}

/*utilities*/

.accent {
  color: #c582c3;
  font-weight: bolder;
}

.award {
  color: #ee2828;
  font-weight: bolder;
  font-style: italic;
}

.name {
  color: #3c28ee;
}

.container {
  max-width: 98rem;
  margin: 0 auto;
}

.nav{
	width:100%;
	height:50px;
	background-color:#fff;
	position:fixed;
	z-index:100;
	
}

.nav .head{
	font-size:25px;
	line-height:50px;
	margin-left:75px;
	float:left;
}

.nav ul li{
	float:left;
	font-size:18px;
	margin-left:30px;
}

.nav .item{
	height:50px;
	margin-left:300px;
	line-height:50px;
}


.header {
  position: relative;
  background-image:url(../pic/bg6.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding-top:50px;
}

.header .none{
  height:540px;	
  width:100%;	  
  background:rgba(0,0,0,.3);
}
.header .header__content {
  position: absolute;
  width: 100%;
  text-align: center;
  z-index: 5;
  margin-top:15px;
}

.header__profile {
  height: 15rem;
  width: 15rem;
  text-align: center;
  margin-top:30px;
  display: inline-block;
}

.header__profile img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  border: 4px solid #fff;
}

.header__intro {
  margin-top: 2rem;
  text-align: center;
  width: 100%;
}

.heading--primary {
  font-family: "Fjalla One", sans-serif;
  color: #fff;
  font-size: 48px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  line-height: 1.8;
}


.header__card {
  margin-top:300px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 98rem;
  border-radius: 4px;
  overflow: hidden;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  z-index: 5;
}

.header__card p {
  margin-bottom: 1.2rem;
  font-size:23px;
  color:#fff;
  display: block;
}

.header__card a {
	font-size:20px;
	color:#fff;	
}

.content {
  background-color: #f5f5f5;
  padding-bottom: 5rem;
}

.content .container .news{
	width:100%;
	height:225px;
	padding-top:20px;
	padding-left:10px;
	margin-bottom:40px;
	background-color:#fff;
	box-shadow: rgba(0,0,0,0.3) 2px 3px 2px;
}

.content .container .news ul li{
	list-style: disc;
	margin-left:20px;
}

.content .container .news ul li a{
	text-decoration:underline;
	color:blue;	
}

.content .container .section1{
	width:100%;
	height:170px;
	padding-top:20px;
	padding-left:10px;
	margin-bottom:40px;
	background-color:#fff;
	box-shadow: rgba(0,0,0,0.3) 2px 3px 2px;
}

.content .container .section1 h4{
	font-size:15px;
	text-align:center;
}

.content .container .section1 img{
	margin-top:10px;
	margin-left:50px;
	width:50px;
	height:50px;
}

.content .container .section1 .test{
	width:150px;
	height:120px;
	float:left;
	margin-left:15px;
}

.content .container .section1 .slice{
	width:150px;
	height:120px;
	float:left;
	margin-left:10px;
}

.content .container .section1 .locate{
	width:150px;
	height:120px;
	float:left;
	margin-left:10px;
}

.content .container .section1 .search{
	width:150px;
	height:120px;
	float:left;
	margin-left:10px;
}

.content .container .section1 .evolution{
	width:150px;
	height:120px;
	float:left;
	margin-left:10px;
}

.content .container .section1 .machine{
	width:150px;
	height:120px;
	float:left;
	margin-left:10px;
}
.section {
  margin-bottom: 40px;
  padding-bottom: 20px;
  padding-top:20px;
  padding-right:10px;
  padding-left:20px;
  background-color:#fff;
  box-shadow: rgba(0,0,0,0.3) 2px 3px 2px;
}

h2.section__title {
  font-size: 2rem;
  /* //margin-bottom: 1rem; */
  color: #4a90e2;
}

h3.title {
  font-size: 1.5rem;
  /* //margin-bottom: 2rem; */
}

.list li {
  list-style-type: disc;
}

.list__item__0 {
  list-style: disc;
  display: list-item;
  width: 100%;
  /* //margin-bottom: 0.2rem; */
  position: relative;
  /* //padding-top: 2rem; */
}

.list__item__0 .flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.list__item__0 .flex-wrapper div:nth-child(1) {
  flex: 1 1 85%;
  padding-left: 1rem;
}

.list__item__0 .flex-wrapper div:nth-child(2) {
  flex: 1 1 15%;
  text-align: right;
}

.list__item__0 .meta {
  font-size: 1.4rem;
  display: block;
  margin-bottom: 0.5rem;
}

.list__item__0 p {
  font-size: 1.6rem;
  /* //margin-bottom: 1.8rem; */
}

.list__item {
  list-style: disc;
  display: list-item;
  width: 100%;
  /* //margin-bottom: 0.2rem; */
  position: relative;
  /* //padding-top: 2rem; */
}

.list__item .flex-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

.list__item .flex-wrapper div:nth-child(1) {
  flex: 1 1 11%;
  text-align: left;
}

.list__item .flex-wrapper div:nth-child(2) {
  flex: 1 1 84%;
  padding-left: 1rem;
}

.list__item .flex-wrapper div:nth-child(3) {
  flex: 1 1 5%;
  text-align: right;
}

.list__item .meta {
  font-size: 1.4rem;
  display: block;
}

.list__item .pub {
  font-size: 1.6rem;
  display: block;
  margin-bottom: 0.5rem;
}

.list__item p {
  font-size: 1.6rem;
  /* //margin-bottom: 1.8rem; */
}

.ccf {
  color: #4a90e2;
  font-weight: 700;
  line-height: 1.7;
}

.date {
  color: #9ad2cb;
  font-weight: 700;
  line-height: 1.7;
}

.content .container .student{
	width:100%;
	height:1400px;
	padding-left:10px;
	background-color:#fff;
	box-shadow: rgba(0,0,0,0.3) 2px 3px 2px;
}

.content .container .student .postdoc{
	width:100%;
	height:140px;
	float:left;
	margin-left:20px;	
	margin-top:10px;	
}

.content .container .student .postdoc .line {
  width: 100%;
  height: 120px;
  float: left;
	margin-top:10px;	
}

.content .container .student .phd{
	width:100%;
	height:140px;
	float:left;
	margin-left:20px;	
}

.content .container .student .phd .line {
  width: 100%;
  height: 120px;
  float: left;
	margin-top:10px;	
}

.content .container .student .master{
	width:100%;
	height:270px;
	float:left;
	margin-left:20px;
}

.content .container .student .master .line {
  width: 100%;
  height: 120px;
  float: left;
	margin-top:10px;	
}

.content .container .student .undergraduates{
	width:100%;
	height:120px;
	float:left;
	margin-left:20px;
	margin-top:10px;	
}

.content .container .student .alumni{
	width:100%;
	height:275px;
	float:left;
	margin-left:20px;
}

.content .container .student .alumni .line {
  width: 100%;
  height: 140px;
  float: left;
	margin-top:10px;	
}

.content .container .student .alumni .midline {
  width: 100%;
  height: 140px;
  float: left;
	margin-top:50px;	
}

.content .container .student .alumni .highline {
  width: 100%;
  height: 140px;
  float: left;
	margin-top:70px;	
}

h3.name{
	font-size: 1.6rem;
}

.student .postdoc img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  margin-top:5px;
  margin-left:25px;
}

.student .phd img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  margin-top:5px;
  margin-left:25px;
}

.student .individual{
	width:120px;
	height:100px;
	float:left;
	margin-left:20px;
}

.student .individual1{
	width:120px;
	height:100px;
	float:left;
	margin-left:20px;
}

.student .individual_nopic{
	width:150px;
	height:100px;
	float:left;
	margin-left:20px;
	padding-top:40px;
}

.student .individual_nopic_next {
  width: 150px;
  height: 100px;
  float: left;
  margin-left: 0px;
  padding-top: 40px;
}

.student .individual_nopic_zhiyi {
  width: 150px;
  height: 100px;
  float: left;
  margin-left: 20px;
  padding-top: 10px;
}

.student .master .individual1 img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  margin-left:23px;
  margin-top:5px;
}

.student .undergraduates .individual{
	width:150px;
	height:100px;
	float:left;
	margin-left:20px;
	padding-top:20px;
}

.student .master img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  margin-left:25px;
  margin-top:5px;
}

.student .alumni img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  object-fit: cover;
  display: inline-block;
  margin-top:5px;
  margin-left:25px;
}

.student h4{
	text-align:center;
	font-size:15px;
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }

  .heading--primary {
    font-family: "Fjalla One", sans-serif;
    color: #fff;
    font-size: 2rem;
    display: inline-block;
    text-transform: uppercase;
  }

  .heading--subtle {
    font-size: 1.6rem;
    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    font-weight: 400;
  }
}

@media only screen and (max-width: 63.75em) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .header {
    min-height: 100vh;
  }

  .header__card {
    max-width: 100%;
    padding: 2rem 3rem;
    border-radius: 0;
  }
}
